
body{  
    font-family: sans-serif;  
    font-size: 18px;
    background: url(../img/image1.png) repeat fixed 100%;
  }  
  h2{
    margin-left:200px;
  }
  .container {  
    resize: both;
      
      margin:  auto;
      background-color: rgba(206, 250, 233, 0.5);
      border-radius: 10px;
      border:1px solid rgba(255,255,255,0.3);
      box-shadow: 2px 2px 15px;
      min-width: 100px;
      max-width: 550px;
      width: auto;
      height: auto;
  }  
  .container:hover{
    box-shadow: 3px 3px 50px rgb(82, 165, 126);
  }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
  .container2{
    margin: 40px;
  }
  #name1{
    
    width: 400px;
    border: 1px solid rgb(218, 240, 220);
    outline: 0;
    padding: 7px;
    background-color: #fff ;
    box-shadow:inset 1px 1px 5px rgb(0,0,0,0.3);
  
  }
  #name{
    
    width: 12px;
    border: 1px solid rgb(9, 219, 26);
    outline: 0;
    padding: 7px;
    background-color: rgb(56, 179, 32) ;
    box-shadow:inset 1px 1px 5px rgb(0,0,0,0.3);
  
  }
  #name2{
    width: 450px;
    border: 1px solid #ddd;
    outline: 0;
    padding: 7px;
    background-color: #fff ;
    box-shadow:inset 1px 1px 5px rgb(0,0,0,0.3);
  
  } 
   #submit{
     margin: 15px;
     width: 200px;
     padding: 7px;
     font-size: 16px;
     font-weight: 600;
     border-radius: 7px;
     cursor: pointer;
     border: 1px solid rgb(255,255,255,0.3);
     box-shadow:1px 1px 5px rgb(0,0,0,0.3) ;
   }
    
  .registerbtn:hover {  
    background: rgb(118, 206, 154);
    color: rgb(210, 242, 243); 
  } 

  #label{
    font-weight: 700;
  }
  #label2{
    font-weight: 600;
    margin-left: 325px;
  }